// Colors
$twilight-navy: #101727; // main dark color
$lavender-mist: #fbf7fb; // main light color
$lime-green: #32CD32; // main light color
$gainsboro-gray: #708090; // main light color

//
$buttons-main-border-radius: 4px;