// Colors
$twilight-navy: #101727; // main dark color
$lavender-mist: #fbf7fb; // main light color
$light-grey-mist: #d9d9d9;
$lime-green: #32CD32; // main light color
$gainsboro-gray: #708090; // main light color

//
$buttons-main-border-radius: 4px;

// Fonts
$main-heading-font-size--max: 3rem;
$main-heading-font-size--min: 1.5rem;

$second-heading-font-size--max: 2rem;
$second-heading-font-size--min: 1.2rem;