@use './themes/light.scss';

* {
  font-family: var(--font-geist-mono), sans-serif;
  box-sizing: border-box;

  &:before, &::after {
    box-sizing: border-box;
  }
}

.exp-card-company-logo--devit {
  svg {
    transform: translateX(7px) translateY(-5px);
  }
}