.work-desc {
  padding: 45px;

  &-title {
    font-size: clamp(1.1rem, 4.5vw, 1.5rem);
    margin-bottom: 35px;
  }

  &-text {
    margin-bottom: 35px;
  }

  &-link {
    display: flex;
    gap: 7px;
    align-items: center;
    color: var(--text--color);

    &-icon {
      display: block;
      width: 20px;
      height: 20px;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }
}

.tools-list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 35px;
}

@media screen and (max-width: 430px) {
  .work-desc {
    padding: 25px;

    &-text {
      text-align: justify;
    }
  }
}