@import "styles-variables";
@import "styles-mixins";

.hero {
  margin-top: 60px;
  margin-bottom: 80px;
  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include main-container;
  }

  &-title {
    font-size: clamp($main-heading-font-size--min, 4.5vw, $main-heading-font-size--max);
    margin-bottom: 7px;
  }

  &-sub-title {
    max-width: 560px;
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-right: 75px;
  }
}

.location {
  display: flex;
  gap: 10px;
  margin-bottom: 7px;
}

.online-now {
  padding-left: 25px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%) translateX(60%);
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: $lime-green;
  }
}

.contact-me {
  border: 2px solid var(--hero-contact-me-btn--color);
  background-color: transparent;
  border-radius: $buttons-main-border-radius;
  padding: 6px 12px;
}

.img-wrapper--mobile {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .hero {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 660px) {
  .hero {
    margin-top: 30px;
    &-container {
      flex-direction: column-reverse;
    }

    &-content {
      margin-right: 0;
      margin-top: 30px;
    }
  }
}