@import 'styles-variables';
@import 'styles-mixins';

.header {
  padding: 20px 0;
  position: sticky;
  top: 0;
  background-color: var(--header-bg-color);
  z-index: 100;

  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include main-container;
  }

  &-content {
    display: flex;
    align-items: center;
    gap: 25px;
  }
}

.cv-wrapper {
  display: flex;
  gap: 15px;
}

.navigation-list {
  display: flex;
  align-items: center;
  gap: 15px;

  a {
    text-decoration: none;
  }
}

.burger-wrapper {
  display: none;
}

@media screen and (max-width: 650px) {
  .burger-wrapper {
    display: block;
  }

  .cv-wrapper {
    display: none;
  }

  .navigation {
    display: none;
  }
}