@import "styles-variables";

.download-cv {
  background-color: var(--download-cv--bg-color);
  color: var(--download-cv--text-color);
  border: none;
  padding: 7px 10px;
  border-radius: $buttons-main-border-radius;
  width: fit-content;
}

