.work-img {
  background-color: var(--work-img-bg--color);
  padding: 45px;

  &-container {
    overflow: hidden;
    border-radius: 8px;
  }

  &-iframe-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 62.5%;
    height: 0;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }
  }
}

.work-img--mobile {
  display: none;
}

@media screen and (max-width: 1180px) {
  .work-img {
    &-iframe-wrapper {
      padding-bottom: 36.5%;
    }
  }
}

@media screen and (max-width: 768px) {
  .work-img {
    &-iframe-wrappe {
      padding-bottom: 56.5%;
    }
  }
}

@media screen and (max-width: 767px) {
  .work-img {
    &--mobile {
      display: block;
      
      img {
        width: 100%;
        object-fit: cover;
      }
    }

    &-iframe-wrapper {
      display: none;
    }
  }
}

@media screen and (max-width: 425px) {
  .work-img {
    padding: 25px;
  }
}