@import "styles-variables";

* {
  color: $twilight-navy;
}

:root {
  --text--color: #{$twilight-navy};

  --header-bg-color: #{$lavender-mist};
  
  --download-cv--bg-color: #{$twilight-navy};
  --download-cv--text-color: #{$lavender-mist};

  --burger-line-color--major: #{$twilight-navy};
  --burger-line-color--minor: #{$twilight-navy};

  --label-bg--color: #{$cloud-whisper};
  
  --scrollbar-thumb--color: #{$twilight-navy};

  .photo-frame {
    --hero-photo-outline-main-border--color: #{$twilight-navy};
    --hero-photo-outline-second-border--color: #{$gainsboro-gray};
  }

  .sidebar {
    --sidebar-text-color: #{$twilight-navy};
    --sidebar-bg--color: #{$lavender-mist};
  }

  .hero {
    --hero-contact-me-btn--color: #{$twilight-navy};
  }

  .about {
    --about-bg--color: #{$lavender-mist};
  }

  .experience {
    --experience-bg--color: #{$lavender-mist};
    --experience-card-bg--color: #{white};
    --experience-company-logo-border--color: #{$light-grey-mist};
  }

  .work {
    --work-img-bg--color: #{$lavender-mist};
  }

  .footer {
    --footer-bg--color: #{$lavender-mist};
  }
}