@import "styles-variables";

:root {
  --header-bg-color: #{$lavender-mist};

  --download-cv--bg-color: #{$twilight-navy};
  --download-cv--text-color: #{$lavender-mist};

  --burger-line-color--major: #{$twilight-navy};
  --burger-line-color--minor: #{$lavender-mist};

  .sidebar {
    --sidebar-text-color: #{$lavender-mist};
  }

  .hero {
    --hero-photo-outline-main-border--color: #{$twilight-navy};
    --hero-photo-outline-second-border--color: #{$gainsboro-gray};

    --hero-contact-me-btn--color: #{$twilight-navy};
  }
}